*{
    box-sizing: border-box;
}

header{
    background-color: rgb(218, 14, 14);
    height: 50px;
    margin-bottom: 1em;
}

canvas{
    border: 2px solid black;
    border-radius: 20px;
}

.canvas-container{
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
}

.image-container{
    display: flex;
    justify-content: wrap;
}

.image-container img{
    width: 200px;
    height: 200px;
    cursor: pointer;
    margin-inline-end: 1em;
}

.buttons{
    margin-top: 0.5em;
}

button{
    cursor: pointer;
    width: 2em;
    height: 2em;
    padding: 0;
}

@media (max-width: 450px){
    
    header{
        background-color: rgb(14, 218, 31);
    }
    
    canvas{
        height: 300px;
        width: 300px;
    }
    
    .canvas-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 1em;
    }
    
    .image-container img{
        width: 150px;
        height: 150px;
    }

    
}